{% extends "base.html" %}
{% load staticfiles %}

{% block content %}



  <div class="page_banner banner price-banner">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="banner-heading">Contact Us</div>
                            </div>
                        </div>
                    </div>
                </div>
                <main id="maincontent">
                    <section class="contact_us">
                        <div class="container">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel-body">
                                          {% if messages %}
                                            {% for message in messages %}
                                            <div class='alert {% if "success" in message.tags %}alert-success{% elif "warning" in message.tags%}alert-warning{% elif "error" in message.tags %}alert-danger{% endif %} alert-dismissible' role='alert'>
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

                                                {% if "safe" in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}

                                          </div>
                                          {% endfor %}
                                      {% endif %}
                                        <div class="page-heading"><h2>Get In Touch With Us</h2></div>
                                        <form action="" method="post">
                                            {% csrf_token %}
                                        <div class="form-group col-md-6 p-l">
                                            <label>Name</label>
                                            {{form.name}}
                                            <font color="red">{{form.name.errors}}</font>
                                        </div>
                                        <div class="form-group col-md-6 p-r">
                                            <label>E-mail</label>
                                            {{form.email}}
                                            <font color="red">{{form.email.errors}}</font>
                                        </div>
                                        <div class="form-group col-md-12 p-l p-r">
                                            <label>Subject</label>
                                            {{form.subject}}
                                            <font color="red">{{form.subject.errors}}</font>
                                        </div>
                                        <div class="form-group col-md-12 p-l p-r">
                                            <label>Message</label>
                                            {{form.comments}}
                                            <font color="red">{{form.comments.errors}}</font>
                                        </div>
                                        <div class="col-md-5 p-l">

                                            <input type="submit" class="btn btn-block btn-default" name="submit" value="Send Messege"/>
                                        </div>
                                            </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>

{% endblock content %}