{% extends "base_new.html" %}
{% load staticfiles %}
	{% block extra_css %}

      <link rel="stylesheet" href="{% static 'config/css/master_3columns.css' %}">
      <link rel="stylesheet" href="{% static 'config/css/contribute_form.css' %}">


    <style>
         .interview-show{
         display: none;
         }
         .interview-hide {
         display: none;
         }
         .review-info{
         display: none;
         }
         .disabled-select{
         color:rgba(214, 213, 213, 0.88);
         background-color:rgba(165, 162, 162, 0.19);
         }
      </style>
      <style>
      </style>

	{% endblock extra_css %}

{% block content %}



      <style>
         .layer{
         background: -webkit-linear-gradient(left, #191f30, #3d4972);
         background-color: #2B3451;
         }
      </style>



<div class="head-cover js-menu-shift">
	<div class="layer">

<h1 class="h1">Companies Search with "{{query}}"</h1>
		<div class="search-company">
			<form id="searchCompanyForm" action="" method="get">

				<input type="text" id="searchCompany"class="typeahead" name="q" placeholder="Type the name of the company you want to prepare for" value="{{query}}"  required="true">
				<button type="submit" value="" ><i class="icon-right-arrow"></i></button>
			</form>
		</div>
	</div>
</div>

      <section class="container-content">
         <section class="content__center">

              <section class="companies-block">


                                {% for comp in companies %}
                                        <a href="{% url 'dashboard:company' comp.id %}">
                                        <div class="company-tile">
                                            <h3>{{comp.company_name}}</h3>
                                            <div class="company-tile__details">
                                                <div class="company-tile__details__text">
                                                    <span>{{comp.state}}</span>
                                                    <span>{{comp.category}}</span>

                                                </div>
                                                <div class="company-tile__details__image">
                                                    <img src="/mediadump/{{comp.comapny_logo}}" alt="">
                                                </div>


                                            </div>
                                            <div class="btn accent" style="width:79%;color:white;text-align:center"> View Company</div>

                                        </div>
                                            </a>
                                {% endfor %}







                </section>


         </section>
         <section class="content__left">
            <!-- js-auto-position class should be added for fixing this on scroll -->
            <div class="content"></div>
         </section>
         <section class="content__right">
            <!-- js-auto-position class should be added for fixing this on scroll -->
            <div class="content"></div>
         </section>
      </section>










{% endblock content %}