{% extends "base_new.html" %}
{% load staticfiles %}
	{% block extra_css %}

      <link rel="stylesheet" href="{% static 'config/css/master_3columns.css' %}">
      <link rel="stylesheet" href="{% static 'config/css/contribute_form.css' %}">


    <style>
         .interview-show{
         display: none;
         }
         .interview-hide {
         display: none;
         }
         .review-info{
         display: none;
         }
         .disabled-select{
         color:rgba(214, 213, 213, 0.88);
         background-color:rgba(165, 162, 162, 0.19);
         }
      </style>
      <style>
      </style>

	{% endblock extra_css %}

{% block content %}



      <section class="cover-image js-menu-shift">
         <div class="layer">
            <h1 class="h1">Login Here</h1>
         </div>
      </section>
      <style>
         .layer{
         background: -webkit-linear-gradient(left, #191f30, #3d4972);
         background-color: #2B3451;
         }
      </style>



      <section class="container-content">
         <section class="content__center">
            <div class="content">
               <section class="main-content card floating-card">
                  <div class="top-block">

                  </div>
                  <div class="content__center">


                        <a href="{% url 'social:begin' 'facebook' %}">
                            <img  src="{% static 'config/image/facebook.png' %}"/></a>
                   <a href="{% url 'social:begin' 'google-oauth2' %}"> <img src="{% static 'config/image/googl.png' %}"/></a>

                   <a href="{% url 'social:begin' 'linkedin-oauth2' %}"> <img src="{% static 'config/image/linkedin.png' %}"/></a>



                      <!--<form method="post"  action="{% url 'dashboard:login_check' %}" id="ContributeIntroForm" name="ContributeIntroForm">-->
                         <!--{% csrf_token %}-->



                                                    <!--<div class="input-group">-->
														<!--<label for="email" class="section-heading interview-hide">Enter your email</label>-->
														<!--<input type="email" name="email" id="email" placeholder="Enter your email" required value="" maxlength="150">-->
													<!--</div>-->
                                                     <!--<div class="input-group">-->
														<!--<label for="k" class="section-heading interview-hide">Enter your password</label>-->
													<!--<input type="password" name="password" id="k" placeholder="Password" required value="" maxlength="150">-->
													<!--</div>-->
                                                    <!--<div class="input-group">-->

													    <!--<button class="btn accent" name="Login">Login <i class="icon-right-arrow"></i></button>-->

                                                        <!--<a class="btn" href="{% url 'dashboard:register' %}">Register</a>-->
                                                           <!--{% if msg %}-->
                                                            <!--<font color="red">{{msg}}</font>-->
                                                        <!--{% endif %}-->

                                                    <!--</div>-->


                     <!--</form>-->
                  </div>
               </section>


            </div>
         </section>
         <section class="content__left">
            <!-- js-auto-position class should be added for fixing this on scroll -->
            <div class="content"></div>
         </section>
         <section class="content__right">
            <!-- js-auto-position class should be added for fixing this on scroll -->
            <div class="content"></div>
         </section>
      </section>




{% endblock content %}