{% extends "base_new.html" %}
{% load staticfiles %}
	{% block extra_css %}

      <link rel="stylesheet" href="{% static 'config/css/master_3columns.css' %}">
      <link rel="stylesheet" href="{% static 'config/css/contribute_form.css' %}">


    <style>
         .interview-show{
         display: none;
         }
         .interview-hide {
         display: none;
         }
         .review-info{
         display: none;
         }
         .disabled-select{
         color:rgba(214, 213, 213, 0.88);
         background-color:rgba(165, 162, 162, 0.19);
         }
      </style>
      <style>
      </style>

	{% endblock extra_css %}

{% block content %}



      <section class="cover-image js-menu-shift">
         <div class="layer">
            <h1 class="h1">Share and help other job-seekers</h1>
         </div>
      </section>
      <style>
         .layer{
         background: -webkit-linear-gradient(left, #191f30, #3d4972);
         background-color: #2B3451;
         }
      </style>



      <section class="container-content">
         <section class="content__center">
            <div class="content">
               <section class="main-content card floating-card">
                  <div class="top-block">

                  </div>
                  <div class=" ">
                     <form method="post"  id="ContributeIntroForm" name="ContributeIntroForm">

                        <div class="input-group">


												<div class="input-group">

													<h1>Thanks for submitting your experience with us </h1>
												</div>









                     </form>
                  </div>
               </section>


               <h2 class="section-heading" style="margin: 3rem 0 1rem 0;">Top Interview Stories</h2>
               <div class="row top-reviews" style="">
                  <a href="/mckinsey-interview-questions?rid=9016" target="_blank">
                     <div class="card row">
                        <div><img src="/img/icons/user-default-image.jpg"
                           class="round_image-small"
                           alt="Profile Picture"></div>
                        <div>
                           <span>"He recognized me from our interaction at the McKinsey dinner. So, he didn’t re…"</span>
                           <div style="margin-top: 0.5rem;"><strong>Mckinsey</strong> | <span style="color:#ababab;">2.9k Views</span></div>
                        </div>
                     </div>
                  </a>
                  <a href="/zs-associates-interview-questions?rid=8992" target="_blank">
                     <div class="card row">
                        <div><img src="/img/icons/user-default-image.jpg"
                           class="round_image-small"
                           alt="Profile Picture"></div>
                        <div>
                           <span>"The focus is more on structured approach and your analytical skills (i.e. the wa…"</span>
                           <div style="margin-top: 0.5rem;"><strong>ZS Associates</strong> | <span style="color:#ababab;">18.8k Views</span></div>
                        </div>
                     </div>
                  </a>
               </div>
               <h2 class="section-heading" style="margin:3rem 0 1rem 0;">Top Company Reviews</h2>
               <div class="row top-reviews" style="margin-bottom: 5rem">
                  <a href="/johnny-rockets-reviews?rid=92325" target="_blank">
                     <div class="card row">
                        <div><img src="https://media.licdn.com/mpr/mprx/0_iYAYbaRoBOvXHz1WGydYuI-oP7v5HqmkieIr3UDI-x5XHX1d7fI06oMoKVd5SzPMdf5rhWVEspXkwreRfDqC7VRQ0pXLwrBWfDqgkRawqjAWT6uz_yC1X7hsxWOzGrhZQmKti5QNbYJ"
                           class="round_image-small"
                           alt="Profile Picture"></div>
                        <div>
                           <div style="margin-bottom: 0.5rem;"><strong>Johnny Rockets</strong> |
                              <span style="color:#ababab;"><span><i class="icon-star selected" style="color:#FFC107;"></i></span><span><i class="icon-star selected" style="color:#FFC107;"></i></span><span><i class="icon-star selected" style="color:#FFC107;"></i></span><span><i class="icon-star selected" style="color:#FFC107;"></i></span><span><i class="icon-star selected" style="color:#FFC107;"></i></span></span>
                           </div>
                           <span>Likes: "Work culture , Learning ,Team management"</span>
                        </div>
                     </div>
                  </a>
                  <a href="/carrier-airconditionong-and-refrigeration-reviews?rid=53486" target="_blank">
                     <div class="card row">
                        <div><img src="/img/icons/user-default-image.jpg"
                           class="round_image-small"
                           alt="Profile Picture"></div>
                        <div>
                           <div style="margin-bottom: 0.5rem;"><strong>Carrier Aircond…</strong> |
                              <span style="color:#ababab;"><span><i class="icon-star selected" style="color:#FFC107;"></i></span><span><i class="icon-star selected" style="color:#FFC107;"></i></span><span><i class="icon-star selected" style="color:#FFC107;"></i></span><span><i class="icon-star selected" style="color:#FFC107;"></i></span><span><i class="icon-star not-selected" style="color:#efefef;"></i></span></span>
                           </div>
                           <span>Likes: "good work environment"</span>
                        </div>
                     </div>
                  </a>
               </div>
            </div>
         </section>
         <section class="content__left">
            <!-- js-auto-position class should be added for fixing this on scroll -->
            <div class="content"></div>
         </section>
         <section class="content__right">
            <!-- js-auto-position class should be added for fixing this on scroll -->
            <div class="content"></div>
         </section>
      </section>




{% endblock content %}